@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #252a34;
  --secondary: #ff2e63;
  --accent: `#08D9D6`;
  --textColor: `#EAEAEA`;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  scroll-behavior: smooth;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/* ICONS */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@media (min-width: 400px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 13.5vh);
  }
}

@media (min-width: 700px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 15vh);
  }
}

@media (min-width: 750px) {
  .custom-grid-rows {
    grid-template-rows: repeat(4, 15vh);
  }
}
